

 <div class="container">

  <div class="starter-template">
    <h1>Current temperature in <%= @location %> is <%= @temp_f %>&deg;F!</h1>
    <h2>Or for you metric types, <%= @temp_c %>&deg;C.</h2>

    <h3>
      It's <%= @conditions %>, and the wind is blowing <%= @wind_mph %> mph from the <%= @wind_dir %>, with gusts to <%= @wind_gust %>. Siiiick!
    </h3>

    <h3>Here's a look at the sky: <img src= "<%= @radar %>" ></h3>

    <p class="lead">Right on! Latest data from <%= @updated_at %>.</p>

  </div>

</div><!-- /.container -->
